.contactspage {
  margin-top: 10%;
}
.contactspage strong {
  color: #a020f0;
}
.top {
  position: relative;
  top: -40px;
}
.femi {
  margin-top: 30px;
}
.icon {
  font-size: 30px;
  color: #a020f0;
  margin-bottom: 30px;
}
.contactspage i {
  margin-bottom: 10px;
}
@media only screen and (max-width: 1024px) {
  .contactspage {
    margin-top: 20%;
  }
}
